@import '../../Variables/Variable.scss';

.userProfile-section {
    background-color: $darkGreyColor;
    color: $whiteColor;
    font-family: sans-serif;
    width: 17rem;
    height: fit-content;
    margin-top: 3rem;
    margin-left: 4rem;
    border: 0.1rem solid grey;
    border-radius: 0.3rem;
    a {
        color: $whiteColor;
        text-decoration: none;
    }
}

.userProfile-avatar {
    display: grid;
    grid-row-gap: 2rem;
    justify-items: center;
    padding: 2rem 0 1rem 0;
    position: relative;
    border-bottom: 0.1rem solid rgb(66, 65, 65);
   
      >input {
        display: none;
    }
}

.userImg {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.4rem solid white;
}

.addAPhoto {
    display: grid;
    justify-items: center;
    position: absolute;
    top: 7.5rem;
    left: 10rem;
    background-color: $lightGreyColor;
    border-radius: 100%;
    padding: 0.6rem;
}

.addAPhoto:hover {
    opacity: 0.6;
}

.userProfile-account_details, .userProfile-other_info {
  padding: 1.5rem 0 0 3rem;
  h4 {
    font-size: 0.9rem;
  }
}

.userProfile-account_details {
    border-bottom: 0.1rem solid rgb(66, 65, 65);
}

.userProfile-other_info {
    padding-bottom: 2rem;
    >div:nth-child(2) {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }
}

.settings {
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
}

@media (max-width: 500px) {
    .userProfile-section {
        width: 100%;
        margin-left: 0;
    }

    .addAPhoto {
        left: 13rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1000px) { 
    .userProfile-section {
        width: 100%;
        margin-left: 0;
    }
    .addAPhoto {
        left: 26rem;
    }
}

 