@import '../../Variables/Variable.scss';

.comment {
    display: grid;
    grid-template-columns: 2fr 9fr;
    color: $whiteColor;
    background-color: black;
    width: 90%;
    justify-self: center;
    margin-top: 1rem;
    border-radius: 0.6rem;
    font-family: sans-serif;
    padding-bottom: 1rem;

    >div:nth-child(2)>p {
        margin-top: 0.2rem;
        max-width: 90%;
        font-size: 0.8rem;
        line-height: 1.4;
        color: $textColor;
        text-align: justify;
        text-justify: inter-word;
    }
}

.view-replies {
    padding-left: 5rem;
    color: $whiteColor;
    text-decoration: none;
    font-weight: bold;
}

.reply {
    width: 75%;
    justify-self: end;

    h4 {
        font-size: 0.8rem;
    }

    h5 {
        font-size: 0.65rem;
    }
}

.comment-section {
    display: grid;
}

.replies {
    display: grid;
    padding-right: 2rem;
}

.singleReply {
   display: flex;
   column-gap: 1rem;
   align-items: center;
   padding-left: 5rem;
   padding-top: 0.5rem;
   img {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
   }
   p {
    margin: 0;
    font-weight: lighter;
    font-size: 0.9rem;
   }
   h4 {
    margin: 0.4rem;
   }
}

.singleReply-username {
    text-decoration: none;
    color: $whiteColor;
    font-weight: bold;
}