@import '../../Variables/Variable.scss';

.votes {
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: $redColor;
    width: 3rem;
    height: 5rem;
    border-radius: 0.8rem;
    margin: 1rem 0 0.5rem 1rem;
    p {
        margin: 0;
    }
}

.reply-votes {
    width: 2rem;
}

@media (max-width: 500px) { 
    .votes {
        width: 2rem;
    }

    .reply-votes {
        width: 1.5rem;
        margin-left: 0.6rem;
    }
}