//    Colors
$darkGreyColor: rgb(19, 19, 19);
$lightGreyColor: rgb(92, 90, 90);
$whiteColor: #fff;
$redColor: red;
$blueColor: blue;
$textColor: rgb(168, 163, 163);

//   Fonts
$headerFontSize: 3rem;
$buttonFontSize: 1.2rem;

 