.Movies-section,
.TVShow-section {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.Movies-header {
    color: white;
    padding-top: 9rem;
    h1 {
        margin-top: 0;
        text-align: center;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {

    .Movies-section,
    .TVShow-section {
        grid-template-columns: 1fr;
        padding-top: 6rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1000px) { 
    .Movies-section,
    .TVShow-section {
        grid-template-columns: 1fr;
        padding-top: 6rem;
    }
}