.MovieSingle_section {
    display: grid;
    grid-template-columns: 6fr 4fr;
    width: 100%;
    column-gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 6rem;
    overflow-x: hidden;
}

@media (max-width: 500px) {
    .MovieSingle_section {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
    .MovieSingle_section {
        grid-template-columns: 1fr;
    }
}