.favourite-movies {
  padding-right: 3rem;
  margin-top: 2rem;
}


.favouriteMovies-container {
  max-height: 40rem;
}

.oops-img {
  width: 40%;
}

.NofavouriteMovieFound {
  display: grid;
  justify-items: center;
  width: 100%;
  margin-top: 2rem; 
  > h1 {
    color: white;
    letter-spacing: 0;
    font-weight: light;
  }
}
  

@media (max-width: 500px) { 
  .favourite-movies {
    padding-right: 0;
    padding-left: 0;
  }

  .oops-img {
    width: 70%;
  }
}