@import '../../Variables/Variable.scss';

.NewsType-section {
    width: 100%;
    color: $whiteColor;
    text-align: justify;
    text-justify: inter-word;
    padding: 4rem 0 3rem 0;
    a {
        color: $blueColor;
    }
}

.NewsType-body {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    column-gap: 2rem;
    padding-bottom: 3rem;
    p,
    h2 {
        padding: 0 1rem;
    }
    p {
        color: $textColor;
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1rem;
    }
}
    

.News {
    background-color: $darkGreyColor;
    border-radius: 0.5rem;
    flex:  0 0 18rem;
    overflow: hidden;

    >img {
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        transition: transform 1s, filter 1.5s, ease-in-out;
        transform-origin: center center;
        object-fit: cover;
    }
    span {
        color: $blueColor;
    }
}

.News:hover img {
    cursor: pointer;
    filter: brightness(100%);
    transform: scale(1.1);
  }

.NewsType-info, .NewsType-header {
    display: flex;
    justify-content: space-between;
}

.NewsType-header {
    align-items: center;
    padding-bottom: 1rem;
    >h1 {
        padding-left: 3.5rem;
        letter-spacing: 0.1rem;
    }
}

@media (max-width: 500px) { 
    .NewsType-section {
        a {
            font-size: 0.9rem;
            margin-right: 1rem;
        }
    }
    .NewsType-header {
        >h1 {
            padding-left: 1rem;
            font-size: 1rem;
        }
    }

    .NewsType-body {
        h2 {
            font-size: 0.9rem;
        }
    }
}