@import '../../Variables/Variable.scss';

.navbar {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    color: $whiteColor;
    background-color: $darkGreyColor;
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 10;

    a {
        color: $whiteColor;
        text-decoration: none;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        padding-left: 4rem;
        color: $redColor;
        letter-spacing: 1px;
        font-family: monospace;
    }

    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        column-gap: 2rem;
    }

    li {
        color: $whiteColor;
        font-size: 1.2rem;
        list-style: none;
    }

    img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.17rem solid white;
    }
}

.navbar-icons {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-self: end;
    padding-right: 2rem;
}

.sign-up {
    background-color: $redColor;
    color: $whiteColor;
}

.log-in,
.sign-up,
.log-out {
    font-size: 1rem;
}

.log-in:hover,
.sign-up:hover,
.log-out:hover {
    opacity: 0.7;
}

.active {
    position: relative;
    text-transform: capitalize;
}


.active::after {
    content: "";
    position: absolute;
    background-color: $redColor;
    width: 100%;
    bottom: -2.8rem;
    left: 0;
    height: 3px;
    transition: width 150ms ease-in-out;
}

.unselected {
    color: $whiteColor;
    border: none;
}


@media (max-width: 500px) {
    .navbar {
        grid-template-columns: 1.5fr 5.5fr 3fr;
        padding: 0;

        h1 {
            padding-left: 1rem;
            font-size: 2rem;
        }
    }

    .navbar-icons {
        padding-right: 1rem;
        column-gap: 0.3rem;
    }

    .active::after {
        content: "";
        bottom: -1rem;
    }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar {
        grid-template-columns: 1fr 5fr 4fr;

        h1 {
            font-size: 1.7rem;
            padding-left: 2rem;
        }

        a {
            font-size: 0.9rem;
        }
    }

    .navbar-icons {
        padding-right: 1rem;
    }

    .active::after {
        bottom: -1.8rem;
    }

    .log-in,
    .sign-up,
    .log-out {
        font-size: 0.8rem;
    }
}