.AddedToFavourite {
    color: black;
    font-size: 0.9rem;
    width: fit-content;
    padding: 0 0.4rem;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
    margin: 2rem;
    z-index: 100;
    position: fixed;
    p {
        padding: 0.2rem 0;
    }
    
}