@import '../../Variables/Variable.scss';

.MovieSingleInfo_section {
    display: grid;
    align-self: start;
    justify-self: start;
    color: $whiteColor;
    width: 100%;
    margin-left: 2rem;

    img {
        width: 80%;
        border-radius: 0.2rem;
        height: 20rem;
        padding-bottom: 0.5rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.5;
        color: $textColor;
        text-align: justify;
        text-justify: inter-word;
        width: 80%;
    }

    h1 {
        font-size: $headerFontSize;
        letter-spacing: 0.4rem;
        margin-bottom: 0.2rem;
        color: $whiteColor;
        width: 80%;
    }
}

.MovieSingleInfo_info {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    span {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .MovieSingleInfo_section {
        align-self: center;

        h1 {
            font-size: 1.5rem;
        }

        img,
        p,
        h1 {
            width: 85%;
        }
    }
}